section {
    display:inline-block;
    align-items: center;
    position: relative;
    left: 35%;
    top: 10%;
    width: 30%;
    height: 80%;
    padding: 4%;
}

img {
    position: absolute;
    top : 10%;
    left : 38%;
    width: 100px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

form {
    margin-top: 40%;
}

.form {
    z-index: 1;
}

.loginButton {
    margin-top: 4.5%;
    z-index: 1;
}

.or {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    position: relative;
    z-index: 1;
}

.or .hr1 {
    border: 2px solid #2B4865;
    border-top: 0;
    position: absolute;
    top: -2px;
    width: 45%;
    left: 0;
    z-index: 1;
}

.or .hr2 {
    border: 2px solid #2B4865;
    border-top: 0;
    position: absolute;
    top: -2px;
    width: 45%;
    right: 0;
    z-index: 1;
}

.backgroundDiv {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 0;
    background-color: white;
    filter: opacity(25%);
    border-radius: 15px;
}

.btn, .input {
    border-radius: 0px;
}